


.members-container {
    margin-top: 120px;
}
.members-title {
    color: white;
    background-color:#242526 ;
    border-radius: 12px ;
    padding: 20px;
}
.members-list-container {
    margin-top: 20px;
    background-color: #242526;
    border-radius: 12px ;
    padding: 20px;
}