


.comment-img__container {
    display: flex;
    margin: 15px 0 ;
}
.comment-container {
    color: #E4E6EB;
    margin-left: 10px;
    width: 100%;
}
.comment {
    width: max-content;
    font-size: 14px;
    background-color: #3A3B3C;
    padding: 10px;
    border-radius: 12px;
}
.comment-actions {
    display: flex;
    gap: 20px;
}
.reply-input {
    outline: none;
    background-color: #3f4143;
    padding: 12px 17px;
    border: none;
    border-radius: 25px;
    width: 70%;
    margin: 10px 0px;
    margin-left: 5px;
    color: #B8BBBF;
    font-size: 16px;
}
.replies-container {
    display: none;
    /* border-radius: 25px; */
    border-left: #3A3B3C solid 5px ;
    margin-left: 40px;
    padding: 20px;
}